    <!-- ================= TESTIMONIALS SECTION ================= -->
    <section id="testimonials" class="py-24 bg-[#F9FBFC]">
        <div class="max-w-7xl mx-auto px-6">

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-start">

                <!-- LEFT SUMMARY -->
                <div class="ml-5">
                    <h2 class="text-3xl md:text-4xl font-semibold mb-8">
                        What Our <br /> Customers Say
                    </h2>

                    <p class="font-medium mb-2">Great</p>

                    <!-- Stars -->
                    <img src="assets/images/avatars/stars.png" alt="Rating" class="h-8 w-40" width="120" height="32" loading="lazy" decoding="async" />

                    <p class="text-sm text-gray-600 mb-4">
                        Based on 5,801 reviews
                    </p>

                    <!-- Trustpilot -->
                    <div class="flex items-center gap-2 text-sm font-medium">
                        <img src="assets/images/avatars/star_logo.png" alt="Trustpilot logo" class="h-5 w-20" width="80" height="20" loading="lazy" decoding="async" />
                    </div>
                </div>

                <!-- RIGHT TESTIMONIAL -->
                <div class="relative lg:mt-15">

                    <!-- Navigation -->
                    <div class="absolute right-0 -top-2 flex gap-3">
                        <button id="prevBtn" class="w-10 h-10 rounded-full border flex items-center justify-center hover:bg-gray-100" aria-label="Previous">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_17_2142)">
                                    <path d="M2.56055 6C2.56055 5.76 2.65388 5.56 2.84055 5.4L8.00055 0.240001C8.16055 0.0799999 8.35388 0 8.58055 0C8.80721 0 9.00721 0.0799999 9.18055 0.240001C9.35388 0.400001 9.44055 0.6 9.44055 0.84C9.44055 1.08 9.34721 1.28 9.16055 1.44L4.60055 6L9.16055 10.56C9.32055 10.72 9.40055 10.92 9.40055 11.16C9.40055 11.4 9.32055 11.6 9.16055 11.76C9.00055 11.92 8.80721 12 8.58055 12C8.35388 12 8.16055 11.92 8.00055 11.76L2.84055 6.6C2.65388 6.44 2.56055 6.24 2.56055 6Z" fill="#050B20" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_17_2142">
                                        <rect width="12" height="12" fill="white" transform="matrix(1 0 0 -1 0 12)" />
                                    </clipPath>
                                </defs>
                            </svg>

                        </button>
                        <button id="nextBtn" class="w-10 h-10 rounded-full border flex items-center justify-center hover:bg-gray-100" aria-label="Next">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_17_2145)">
                                    <path d="M9.15699 6.6L4.0013 11.76C3.84143 11.92 3.64826 12 3.42178 12C3.1953 12 2.99547 11.92 2.82228 11.76C2.64909 11.6 2.5625 11.4 2.5625 11.16C2.5625 10.92 2.65576 10.72 2.84227 10.56L7.39846 6L2.84227 1.44C2.65576 1.28 2.5625 1.08 2.5625 0.84C2.5625 0.6 2.64909 0.400001 2.82228 0.240001C2.99547 0.0799999 3.1953 0 3.42178 0C3.64826 0 3.84143 0.0799999 4.0013 0.240001L9.15699 5.4C9.3435 5.56 9.43675 5.76 9.43675 6C9.43675 6.24 9.3435 6.44 9.15699 6.6Z" fill="#050B20" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_17_2145">
                                        <rect width="11.96" height="12" fill="white" transform="matrix(1 0 0 -1 0 12)" />
                                    </clipPath>
                                </defs>
                            </svg>

                        </button>
                    </div>

                    <!-- User Info -->
                    <div class="py-8">
                        <img id="testimonial-stars" class="h-7 w-25" alt="testimonial-stars" />

                        <p id="testimonial-name" class="font-semibold mb-1"></p>
                        <p id="testimonial-role" class="text-sm text-gray-500 mb-6"></p>

                        <p id="testimonial-review" class="text-lg leading-relaxed mb-10"></p>

                        <div id="testimonial-avatars" class="flex items-center gap-4"></div>


                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- ================= END TESTIMONIALS ================= -->
